<div *ngFor="let item of requestList">
  <div class="container mx-auto p-4">
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
      <div class="flex items-start">
        <div class="w-1/2 p-4">
          <img [src]="item.requestProductImage1" alt="Product Image" class="w-full">
          <div class="flex mt-2">
            <img [src]="item.requestProductImage2" alt="Product Image" class="w-1/4 mr-2">
            <img [src]="item.requestProductImage3" alt="Product Image" class="w-1/4 mr-2">
            <img [src]="item.requestProductImage4" alt="Product Image" class="w-1/4">
          </div>
        </div>
        <div class="w-1/2 p-4">
          <h2 class="text-xl font-bold text-gray-900">{{item.requestProductName}}</h2>
          <div class="flex items-center">
            <span class="text-gray-600 text-sm ml-2">{{item.requestProductTypeName}}- Rp. {{item.requestProductPrice}}</span>
          </div>
          <p class="text-gray-700 mt-2">
            {{item.requestProductDesc}}
          </p>
          <div class="mt-4">

            <div class="mt-4 flex items-center">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="updateRequest('update', item.requestSeqNo)">
                View Request
              </button>
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="CallSendTOWeb()">
                Send To Web
              </button>
            </div>

            <div class="p-4 border-t border-gray-200">
              <h3 class="text-lg font-medium text-gray-900 mb-2">Spesification</h3>
              <ul class="text-gray-700 list-disc list-inside">
                <li>Alias :{{item.requestProductAlias}}</li>
                <li>size :{{item.requestProductSize}}</li>
                <li>Stock :{{item.requestProductStock}}</li>
                <li>Min. Purchase :{{item.requestProductMinPurc}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>